:root {
  --pink-color: #fb5849;
  --black-color: #2a2a2a;
  --font-logo: 'Dancing Script', cursive;
  --font-family: 'Poppins', sans-serif;

}

*, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: 62.5%;
}

ol, ul {
  list-style: none;
  padding: 0;


  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

///header
.klassy {
  width: 100%;

  .header {
    width: 100%;

    height: 100px;
    background-color: #ffff;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    .logo-header {
      padding: 22px 0;
      display: flex;

      .hidden-btn {
        display: none;

        div {
          width: 23px;
          height: 1.8px;
          background-color: black;
          margin: 8px 0;

          &:nth-child(2) {
            width: 33px;
            height: 2.5px;
            margin: 8px 0;
          }
        }
      }
    }

    .nav-header {
      padding: 42px 0;

      .nav {
        display: flex;

        .main-nav {
          align-self: flex-start;
          position: relative;

          &:hover .hidden-nav {
            visibility: visible;
            opacity: 1;
            transform: translateY(12%);
          }

          .main {
            display: block;
            font-family: var(--font-family);
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--black-color);
            margin: 0 15px;
            transition: ease-in-out 300ms;

            &:hover {
              color: var(--pink-color);
            }
          }

          .hidden-nav {
            position: absolute;
            width: 200%;
            visibility: hidden;
            //top: 70px;
            opacity: 0;
            transform: translateY(50%);
            transition: ease-in-out 300ms;

            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 24px;
              top: -23px;
            }

            .sub-nav {
              padding: 10px 25px;
              background-color: #f7f7f7;
              border-bottom: 1px solid #eee;

              a {
                font-size: 1.5rem;
                font-weight: 400;
                color: var(--black-color);
                transition: ease-in-out 300ms;

                &:hover {
                  color: var(--pink-color);
                  padding-left: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  //space for navbar position:fixed
  .space {
    width: 100%;
    height: 100px;
  }

  //slide banner
  .section-banner {
    width: 100%;

    .banner {

      .bestExperience {
        width: 33%;
        height: 810px;
        background-image: url("../images/leftbanner-bg.jpg");
        background-size: cover;
        background-position-x: center;
        float: left;
        display: flex;

        .content {
          margin: auto;

          h4 {
            font-family: var(--font-logo);
            font-size: 5.4rem;
            font-weight: 700;
            color: #ffff;

          }

          h6 {
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: 3px;
            color: #ffff;
            margin-top: 15px;
          }

          .banner-btn {
            display: block;
            height: 45px;
            background-color: #ffff;
            border-radius: 4px;
            padding: 16px 45px;
            border: none;
            outline: none;
            font-size: 1.3rem;
            font-weight: 600;
            margin-top: 20px;
            transition: ease 300ms;
            color: var(--pink-color);

            &:hover {
              opacity: 0.9;
            }
          }
        }

      }

      .slide {
        .owl-carousel {

          .owl-nav {
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 65%;
            right: 15px;
            top: 50%;
            opacity: 0.4;
            transition: ease-in-out 500ms;

            &:hover {
              opacity: 1;
            }

            button {
              width: 50px;
              height: 50px;
              background-color: var(--pink-color);
              border-radius: 100%;
              display: flex;
              outline: none;

              span {
                position: absolute;
                font-size: 5rem;
                color: #ffff;
                font-weight: 100;
                align-self: center;
                margin: 0 18px;
              }

              &:first-child {

              }

              &:last-child {

              }
            }
          }
        }
      }
    }
  }

  //About Us + video
  .section-aboutUs {
    margin: 100px 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .aboutUs {
      margin: 0 30px;
      width: 35%;

      .line-textTitle {
        display: inline-flex;
        flex-wrap: wrap;

        span {
          width: 30px;
          border-bottom: 1.5px solid var(--pink-color);
          display: block;
          position: relative;
          top: -10px;
        }

        h6 {
          padding-left: 12px;
          font-size: 1.6rem;
          font-weight: 500;
          letter-spacing: 0.2rem;
          color: var(--pink-color);
          display: flex;
        }
      }

      .bold-title {
        margin-top: 17px;
        font-size: 3rem;
        font-weight: 900;
      }

      p {
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 23px;
      }

      .pic-food {
        display: flex;
        justify-content: space-between;

        img {
          margin: 0;
          width: 155px;
          height: 155px;
        }
      }
    }

    .video {
      background-image: url("../images/video.jpg");
      background-repeat: no-repeat;
      position: relative;
      width: 33%;
      height: 440px;
      display: flex;
      justify-content: center;
      margin: 0 30px;

      img {
        width: 100%;
        position: absolute;
      }

      a {
        position: absolute;
        background-color: var(--pink-color);
        width: 70px;
        height: 70px;
        border-radius: 100%;
        display: flex;
        margin: 0 auto;
        align-self: center;
        transition: ease-in-out 300ms;

        &:hover {
          background-color: rgba(251, 88, 73, 0.8);
        }

        i {
          margin: auto;
          font-size: 35px;
          color: #ffff;
        }
      }
    }
  }

  //Our menu + slide menu
  .section-ourMenu {
    width: 100%;
    background-color: #fffafa;

    .title-ourMenu {
      margin-left: 15%;
      padding-top: 80px;
      margin-bottom: 80px;

      .line-textTitle {
        display: inline-flex;

        span {
          width: 30px;
          border-bottom: 1.5px solid var(--pink-color);
          display: block;
          position: relative;
          top: -10px;
        }

        h6 {
          padding-left: 12px;
          font-size: 1.6rem;
          font-weight: 500;
          letter-spacing: 0.2rem;
          color: var(--pink-color);
          display: flex;
        }
      }

      .bold-title {
        margin-top: 17px;
        font-size: 3rem;
        font-weight: 900;
      }

    }

    .slide-menu {
      width: 100%;
      justify-content: space-around;

      .owl-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 40px 0;
        cursor: pointer;

        .owl-prev {
          margin: 0 7px;
          outline: none;

          &:before {
            content: "<";
            font-size: 3rem;
            font-weight: 500;
            color: var(--pink-color);
          }

          span {
            display: none;
          }
        }

        .owl-next {
          margin: 0 7px;
          outline: none;

          &:before {
            content: ">";
            font-size: 3rem;
            font-weight: 500;
            color: var(--pink-color);
          }

          span {
            display: none;
          }
        }
      }

      .produce {
        position: relative;
        overflow: hidden;
        margin: 0 10px;

        &:hover .content-produce {
          bottom: 0;

        }

        span {
          position: absolute;
          font-size: 2rem;
          font-family: var(--font-family);
          color: #ffff;
          font-weight: 600;
          cursor: default;
          padding: 15px;
          background-color: var(--pink-color);
          z-index: 1;
          left: 0;
        }

        img {

        }

        .content-produce {
          width: 100%;
          height: 200px;
          position: absolute;
          bottom: -125px;
          background-color: var(--pink-color);
          padding: 20px 25px;
          transition: ease-in-out 400ms;
          cursor: default;

          h1 {
            font-size: 2rem;
            font-weight: 700;
            color: #ffff;
            margin-bottom: 20px;
          }

          p {
            font-size: 1.4rem;
            line-height: 2.5rem;
            color: #ffff;
            margin-bottom: 25px;
          }

          a {
            color: #ffff;
            font-size: 1.4rem;
            font-weight: 600;
          }
        }
      }
    }
  }

  //Our Chefs
  .ourChefs {
    margin: 100px 0;
    text-align: center;

    .title-ourChefs {
      .line-textTitle {
        display: inline-flex;
        flex-wrap: wrap;

        span {
          width: 30px;
          border-bottom: 1.5px solid var(--pink-color);
          display: block;
          position: relative;
          top: -10px;
        }

        h6 {
          padding-left: 12px;
          font-size: 1.6rem;
          font-weight: 500;
          letter-spacing: 0.2rem;
          color: var(--pink-color);
          display: flex;
        }
      }

      .bold-title {
        margin-top: 30px;
        margin-bottom: 80px;
        font-size: 3rem;
        font-weight: 900;
      }
    }

    .listChefs {
      display: flex;
      width: 100%;
      height: 420px;
      justify-content: center;

      .box {
        position: relative;
        width: 22%;
        height: fit-content;
        border: 1px solid #495057;
        border-radius: 3px;
        margin: 0 15px;
        cursor: pointer;

        &:hover {
          border: 1px solid var(--pink-color);
        }

        &:hover .icon {
          opacity: 1;
          visibility: visible;
        }

        &:hover h3 {
          color: var(--pink-color);
        }

        img {
          position: relative;
          width: 100%;
          border-radius: 3px;
          padding: 5px;
        }

        .icon {
          position: absolute;
          width: 354px;
          height: 336px;
          background: rgba(33, 37, 41, 0.9);
          border-radius: 3px;
          top: 5px;
          left: 5px;
          opacity: 0;
          visibility: hidden;
          transition: ease-in-out 300ms;

          a {
            position: relative;
            display: inline-flex;
            background-color: #ffff;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            margin: 41% 5px;
            transition: ease-in-out 300ms;

            &:hover {
              background: var(--pink-color);
            }

            i {
              font-size: 1.4rem;
              margin: auto;
              color: black;
            }
          }
        }

        .infoChefs {
          margin: 24px 0;

          h3 {
            font-size: 2em;
            font-weight: 600;
            padding-bottom: 2px;
            transition: ease 300ms;
          }

          p {
            font-size: 1.3em;
          }
        }
      }
    }
  }

  //Contact Us + table Reservation
  .contacUs {
    width: 100%;
    height: auto;
    background-image: url("../images/reservation-bg.jpg");

    .group-contacUs {
      display: flex;
      justify-content: center;
      padding: 100px 0;

      .content-contactUs {
        width: 35%;
        margin: 0 35px;

        .line-textTitle {
          display: inline-flex;
          flex-wrap: wrap;
          margin-top: 50px;

          span {
            width: 30px;
            border-bottom: 1.5px solid #ffff;
            display: block;
            position: relative;
            top: -10px;
          }

          h6 {
            padding-left: 12px;
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 0.2rem;
            color: #ffff;
            display: flex;
          }
        }

        .bold-title {
          margin-top: 25px;
          font-size: 3rem;
          font-weight: 600;
          color: #ffff;
        }

        .white-title {
          margin-top: 30px;
          margin-bottom: 80px;
          font-size: 1.4rem;
          font-weight: 400;
          color: #ffff;
          letter-spacing: 1px;
          line-height: 22px;
        }

        .info-contacts {
          display: flex;
          justify-content: space-between;

          .detail-contact {
            width: 255px;
            height: 160px;
            background-color: #ffff;
            border-radius: 4px;
            text-align: center;
            position: relative;

            span {
              position: absolute;
              display: inline-flex;
              background-color: var(--pink-color);
              width: 70px;
              height: 70px;
              border-radius: 70px;
              top: -23%;
              left: 36%;

              i {
                font-size: 2rem;
                margin: auto;
                color: #ffff;
              }
            }

            .address {
              margin-top: 45px;

              h3 {
                font-size: 2rem;
                margin-bottom: 15px;
              }

              p {
                margin: 5px 0;
              }
            }
          }
        }
      }

      .table-reservation {
        position: relative;
        width: 35%;
        height: 550px;
        background-color: #ffff;
        border-radius: 5px;
        margin: 0 35px;

        h3 {
          text-align: center;
          font-size: 2rem;
          margin: 50px 0;
        }

        .group-col {
          display: flex;

          .col {
            width: 100%;
            margin: 0 25px;

            input, select {
              width: 100%;
              height: 45px;
              border: 1px solid #ddd;
              outline: none;
              border-radius: 5px;
              margin-bottom: 15px;
              padding-left: 20px;
              font-size: 1.4rem;
              font-family: var(--font-family);

              &::placeholder {
                color: #2a2a2a;

              }

              &:focus {
                border: 1px solid var(--pink-color);
              }
            }
          }
        }

        .message {
          margin: 0 25px;
          margin-bottom: 15px;

          .text-space {
            width: 100%;
            height: 150px;
            border: 1px solid #ddd;
            outline: none;
            border-radius: 5px;
            font-size: 1.4rem;
            font-family: var(--font-family);
            padding: 20px;


            &::placeholder {
              color: var(--black-color);
              --font-family: 'Poppins', sans-serif;
            }

            &:focus {
              border: 1px solid var(--pink-color);
            }

          }
        }

        .reservation-btn {
          width: 91%;
          height: 40px;
          background-color: var(--pink-color);
          border-radius: 4px;
          border: none;
          outline: none;
          cursor: pointer;
          color: #ffff;
          font-size: 1.4rem;
          font-weight: 600;
          display: flex;
          margin: 0 auto;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  //Klassy Week
  .klassy-week {
    margin-top: 100px;

    .title-klassyweek {
      text-align: center;

      .line-textTitle {
        display: inline-flex;
        flex-wrap: wrap;

        span {
          width: 30px;
          border-bottom: 1.5px solid var(--pink-color);
          display: block;
          position: relative;
          top: -10px;
        }

        h6 {
          padding-left: 12px;
          font-size: 1.6rem;
          font-weight: 500;
          letter-spacing: 0.2rem;
          color: var(--pink-color);
          display: flex;
        }
      }

      .bold-title {
        margin-top: 25px;
        font-size: 3rem;
        font-weight: 900;
      }

      .icon-meal {
        display: inline-flex;
        margin: 40px 0;

        .col-meal {
          width: min-content;
          padding: 0 15px;


          a {
            font-size: 1.6rem;
            font-weight: 600;
            color: black;

            &:hover {
              font-weight: 700;
              color: var(--pink-color);
            }

            img {
              padding-bottom: 15px;
            }
          }
        }
      }
    }

    .group-menu {
      display: block;
      width: 80%;
      margin: auto;
      margin-top: 50px;

      .list-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 30px;

        .menu {
          position: relative;
          width: 100%;
          flex: 0 48%;
          display: flex;
          margin-bottom: 40px;
          align-items: center;

          img {
            border-radius: 4px;
          }

          .name-menu {
            width: 60%;
            margin: 0 19px;

            h3 {
              font-size: 2.1rem;
              font-weight: 600;
              padding-bottom: 15px;
            }

            p {
              font-size: 1.4rem;
              color: #2a2a2a;
              line-height: 25px;
            }
          }

          span {
            width: 70px;
            height: 70px;
            font-size: 1.8rem;
            font-family: var(--font-family);
            color: #ffff;
            font-weight: 600;
            cursor: default;
            background-color: var(--pink-color);
            border-radius: 4px;
            line-height: 70px;
            padding: 0 18px;

          }
        }
      }
    }
  }

  //footer
  .footer {
    margin-top: 80px;

    .group-footer {
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: space-around;
      background-color: var(--pink-color);
      align-items: center;

      .icon {
        a {
          display: inline-flex;
          background-color: #ffff;
          width: 45px;
          height: 45px;
          border-radius: 60px;
          margin: 0 5px;

          &:hover i {
            color: #000000;
          }

          i {
            font-size: 1.8rem;
            margin: auto;
            color: var(--pink-color);
            transition: ease-in-out 300ms;
          }
        }
      }

      .logo {
        img {

        }
      }

      .copyright {
        p {
          font-size: 1.4rem;
          line-height: 22px;
          color: #ffff;
          text-align: end;
        }
      }
    }
  }
}

//////@media only screen and (min-width: 1200px)

@media (max-width: 575.98px) {
  .klassy {
    width: 100%;
    /// header +navbar
    .header {
      width: 100%;
      display: block;
      position: absolute;

      .logo-header {
        width: 86%;
        align-self: center;
        margin-left: 50px;

        .hidden-btn {
          display: block;
          align-self: center;
          position: absolute;
          right: 40px;

          &.active {
            :first-child {
              transform: rotate(45deg) translate(8px, 7px);
              width: 35px;
              height: 0.2rem;
              transition: ease-in-out 300ms;
            }

            :nth-child(2) {
              opacity: 0;
              transition: ease-in-out 100ms;
            }

            :last-child {
              transform: rotate(-45deg) translate(8px, -7px);
              width: 35px;
              height: 0.2rem;
              transition: ease-in-out 300ms;
            }
          }
        }
      }

      .nav-header {
        padding: 0;
        margin: 0 15px;
        position: relative;
        top: -2px;
        display: none;
        animation: fadeInDown;
        animation-duration: 200ms;

        &.show {
          display: block;

        }

        .nav {
          text-align: center;
          display: block;

          .main-nav {
            padding: 18px 0;
            background-color: #f7f7f7;
            border-bottom: 1px solid #eee;

            .main {
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    /// section banner + slide banner
    .section-banner {
      width: 100%;

      .banner {

        .bestExperience {
          width: 100%;
          height: 210px;
          float: none;

          .content {
            padding: 20px 0;

            h4 {
            }

            h6 {
            }

            .banner-btn {

            }
          }

        }

        .slide {
          .owl-carousel {
            .owl-nav {
              width: 100%;
              right: 0;
              top: 50%;
            }

            img {
              width: auto;
            }
          }
        }
      }
    }

    ///section About Us
    .section-aboutUs {
      width: 100%;
      display: block;
      justify-content: center;
      margin-bottom: 50px;

      .aboutUs {
        margin: 0;
        width: 100%;
        padding: 0 15px;

        .bold-title {

          line-height: 38px;
        }

        p {
          line-height: 25px;
        }

        .pic-food {

          img {
            width: 29%;
            height: auto;
          }
        }
      }

      .video {
        width: 100%;
        margin: 0;
        background-size: 90%;
        background-position: center;

      }
    }


    //our menu
    .section-ourMenu {
      width: 100%;

      .title-ourMenu {
        margin: 0;
        padding: 30px 10px;

        .line-textTitle {

        }

        .bold-title {

        }

      }

      .slide-menu {

        .owl-nav {
          text-align: center;

          .owl-prev {


            &:before {

            }

            span {

            }

            .owl-next {


              &:before {

              }

              span {

              }
            }
          }
        }

        .produce {
          margin: 0 10px;

          span {

          }

          img {
            height: 370px;
          }

          .content-produce {
            bottom: -125px;

          }
        }
      }
    }


    //Our chefs
    .ourChefs {
      width: 100%;
      height: 1620px;

      .listChefs {
        display: block;

        .box {
          width: 92%;
          margin: 25px 15px;

          .icon {
            height: 317px;

          }
        }
      }
    }

    ///section contact Us
    .contacUs {
      width: 100%;
      height: auto;

      .group-contacUs {
        display: block;

        .content-contactUs {
          width: 100%;
          margin: 0;
          padding: 0 17px;
          padding-bottom: 50px;

          .bold-title {
            font-weight: 700;
          }

          .white-title {
            line-height: 25px;
          }

          .info-contacts {
            display: block;

            .detail-contact {
              margin: 0 auto;

              .address {
                padding-top: 50px;

              }
            }
          }
        }

        .table-reservation {
          width: 100%;
          height: 765px;
          margin: 0;

          h3 {
            font-size: 3rem;
            padding-top: 40px;
            padding-bottom: 30px;
            margin: 0;
          }

          .group-col {
            display: block;

            .col {
              margin: 10px 0;

              input, select {
                width: 80%;
                margin: 10px 37px;
                background-color: white;
              }
            }
          }

          .message {

            .text-space {
              width: 92%;
              margin: 0 12px;
            }
          }

          .reservation-btn {
            width: 80%;
          }
        }
      }
    }

    ///section Klassy Week
    .klassy-week {
      margin-top: 100px;

      .title-klassyweek {
        text-align: center;

        .line-textTitle {
          display: inline-flex;
          flex-wrap: wrap;

          span {
            width: 30px;
            border-bottom: 1.5px solid var(--pink-color);
            display: block;
            position: relative;
            top: -10px;
          }

          h6 {
            padding-left: 12px;
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 0.2rem;
            color: var(--pink-color);
            display: flex;
          }
        }

        .bold-title {
          margin-top: 25px;
          font-size: 3rem;
          font-weight: 900;
        }

        .icon-meal {
          display: inline-flex;
          margin: 40px 0;

          .col-meal {
            width: min-content;
            padding: 0 15px;


            a {
              font-size: 1.6rem;
              font-weight: 600;
              color: black;

              &:hover {
                font-weight: 700;
                color: var(--pink-color);
              }

              img {
                padding-bottom: 15px;
              }
            }
          }
        }
      }

      .group-menu {
        width: 100%;

        .list-menu {
          margin: 0 15px;


          .menu {
            width: 100%;
            display: block;
            flex: none;

            img {
              float: left;
              padding-right: 20px;
            }

            .name-menu {
              margin: 0;
              width: 80%;
              padding-top: 5px;

              h3 {
                padding-bottom: 5px;
              }

              p {
                line-height: 27px;
              }
            }

            span {
              float: right;
              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }
      }
    }

    //footer
    .footer {
      width: 100%;

      .group-footer {
        width: 100%;
        height: 320px;
        display: block;
        text-align: center;
        padding: 55px 0;

        .icon {

        }

        .logo {
          padding: 32px 0;

          img {

          }
        }

        .copyright {
          p {
            text-align: center;
          }
        }
      }
    }
  }
}

// close @media portrait








