:root {
  --pink-color: #fb5849;
  --black-color: #2a2a2a;
  --font-logo: "Dancing Script", cursive;
  --font-family: "Poppins", sans-serif;
}

*, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: 62.5%;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

.klassy {
  width: 100%;
}
.klassy .header {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.klassy .header .logo-header {
  padding: 22px 0;
  display: flex;
}
.klassy .header .logo-header .hidden-btn {
  display: none;
}
.klassy .header .logo-header .hidden-btn div {
  width: 23px;
  height: 1.8px;
  background-color: black;
  margin: 8px 0;
}
.klassy .header .logo-header .hidden-btn div:nth-child(2) {
  width: 33px;
  height: 2.5px;
  margin: 8px 0;
}
.klassy .header .nav-header {
  padding: 42px 0;
}
.klassy .header .nav-header .nav {
  display: flex;
}
.klassy .header .nav-header .nav .main-nav {
  align-self: flex-start;
  position: relative;
}
.klassy .header .nav-header .nav .main-nav:hover .hidden-nav {
  visibility: visible;
  opacity: 1;
  transform: translateY(12%);
}
.klassy .header .nav-header .nav .main-nav .main {
  display: block;
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black-color);
  margin: 0 15px;
  transition: ease-in-out 300ms;
}
.klassy .header .nav-header .nav .main-nav .main:hover {
  color: var(--pink-color);
}
.klassy .header .nav-header .nav .main-nav .hidden-nav {
  position: absolute;
  width: 200%;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50%);
  transition: ease-in-out 300ms;
}
.klassy .header .nav-header .nav .main-nav .hidden-nav:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 24px;
  top: -23px;
}
.klassy .header .nav-header .nav .main-nav .hidden-nav .sub-nav {
  padding: 10px 25px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
}
.klassy .header .nav-header .nav .main-nav .hidden-nav .sub-nav a {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--black-color);
  transition: ease-in-out 300ms;
}
.klassy .header .nav-header .nav .main-nav .hidden-nav .sub-nav a:hover {
  color: var(--pink-color);
  padding-left: 10px;
}
.klassy .space {
  width: 100%;
  height: 100px;
}
.klassy .section-banner {
  width: 100%;
}
.klassy .section-banner .banner .bestExperience {
  width: 33%;
  height: 810px;
  background-image: url("../images/leftbanner-bg.jpg");
  background-size: cover;
  background-position-x: center;
  float: left;
  display: flex;
}
.klassy .section-banner .banner .bestExperience .content {
  margin: auto;
}
.klassy .section-banner .banner .bestExperience .content h4 {
  font-family: var(--font-logo);
  font-size: 5.4rem;
  font-weight: 700;
  color: white;
}
.klassy .section-banner .banner .bestExperience .content h6 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 3px;
  color: white;
  margin-top: 15px;
}
.klassy .section-banner .banner .bestExperience .content .banner-btn {
  display: block;
  height: 45px;
  background-color: white;
  border-radius: 4px;
  padding: 16px 45px;
  border: none;
  outline: none;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 20px;
  transition: ease 300ms;
  color: var(--pink-color);
}
.klassy .section-banner .banner .bestExperience .content .banner-btn:hover {
  opacity: 0.9;
}
.klassy .section-banner .banner .slide .owl-carousel .owl-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 65%;
  right: 15px;
  top: 50%;
  opacity: 0.4;
  transition: ease-in-out 500ms;
}
.klassy .section-banner .banner .slide .owl-carousel .owl-nav:hover {
  opacity: 1;
}
.klassy .section-banner .banner .slide .owl-carousel .owl-nav button {
  width: 50px;
  height: 50px;
  background-color: var(--pink-color);
  border-radius: 100%;
  display: flex;
  outline: none;
}
.klassy .section-banner .banner .slide .owl-carousel .owl-nav button span {
  position: absolute;
  font-size: 5rem;
  color: white;
  font-weight: 100;
  align-self: center;
  margin: 0 18px;
}
.klassy .section-aboutUs {
  margin: 100px 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.klassy .section-aboutUs .aboutUs {
  margin: 0 30px;
  width: 35%;
}
.klassy .section-aboutUs .aboutUs .line-textTitle {
  display: inline-flex;
  flex-wrap: wrap;
}
.klassy .section-aboutUs .aboutUs .line-textTitle span {
  width: 30px;
  border-bottom: 1.5px solid var(--pink-color);
  display: block;
  position: relative;
  top: -10px;
}
.klassy .section-aboutUs .aboutUs .line-textTitle h6 {
  padding-left: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: var(--pink-color);
  display: flex;
}
.klassy .section-aboutUs .aboutUs .bold-title {
  margin-top: 17px;
  font-size: 3rem;
  font-weight: 900;
}
.klassy .section-aboutUs .aboutUs p {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 23px;
}
.klassy .section-aboutUs .aboutUs .pic-food {
  display: flex;
  justify-content: space-between;
}
.klassy .section-aboutUs .aboutUs .pic-food img {
  margin: 0;
  width: 155px;
  height: 155px;
}
.klassy .section-aboutUs .video {
  background-image: url("../images/video.jpg");
  background-repeat: no-repeat;
  position: relative;
  width: 33%;
  height: 440px;
  display: flex;
  justify-content: center;
  margin: 0 30px;
}
.klassy .section-aboutUs .video img {
  width: 100%;
  position: absolute;
}
.klassy .section-aboutUs .video a {
  position: absolute;
  background-color: var(--pink-color);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: flex;
  margin: 0 auto;
  align-self: center;
  transition: ease-in-out 300ms;
}
.klassy .section-aboutUs .video a:hover {
  background-color: rgba(251, 88, 73, 0.8);
}
.klassy .section-aboutUs .video a i {
  margin: auto;
  font-size: 35px;
  color: white;
}
.klassy .section-ourMenu {
  width: 100%;
  background-color: #fffafa;
}
.klassy .section-ourMenu .title-ourMenu {
  margin-left: 15%;
  padding-top: 80px;
  margin-bottom: 80px;
}
.klassy .section-ourMenu .title-ourMenu .line-textTitle {
  display: inline-flex;
}
.klassy .section-ourMenu .title-ourMenu .line-textTitle span {
  width: 30px;
  border-bottom: 1.5px solid var(--pink-color);
  display: block;
  position: relative;
  top: -10px;
}
.klassy .section-ourMenu .title-ourMenu .line-textTitle h6 {
  padding-left: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: var(--pink-color);
  display: flex;
}
.klassy .section-ourMenu .title-ourMenu .bold-title {
  margin-top: 17px;
  font-size: 3rem;
  font-weight: 900;
}
.klassy .section-ourMenu .slide-menu {
  width: 100%;
  justify-content: space-around;
}
.klassy .section-ourMenu .slide-menu .owl-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0;
  cursor: pointer;
}
.klassy .section-ourMenu .slide-menu .owl-nav .owl-prev {
  margin: 0 7px;
  outline: none;
}
.klassy .section-ourMenu .slide-menu .owl-nav .owl-prev:before {
  content: "<";
  font-size: 3rem;
  font-weight: 500;
  color: var(--pink-color);
}
.klassy .section-ourMenu .slide-menu .owl-nav .owl-prev span {
  display: none;
}
.klassy .section-ourMenu .slide-menu .owl-nav .owl-next {
  margin: 0 7px;
  outline: none;
}
.klassy .section-ourMenu .slide-menu .owl-nav .owl-next:before {
  content: ">";
  font-size: 3rem;
  font-weight: 500;
  color: var(--pink-color);
}
.klassy .section-ourMenu .slide-menu .owl-nav .owl-next span {
  display: none;
}
.klassy .section-ourMenu .slide-menu .produce {
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}
.klassy .section-ourMenu .slide-menu .produce:hover .content-produce {
  bottom: 0;
}
.klassy .section-ourMenu .slide-menu .produce span {
  position: absolute;
  font-size: 2rem;
  font-family: var(--font-family);
  color: white;
  font-weight: 600;
  cursor: default;
  padding: 15px;
  background-color: var(--pink-color);
  z-index: 1;
  left: 0;
}
.klassy .section-ourMenu .slide-menu .produce .content-produce {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -125px;
  background-color: var(--pink-color);
  padding: 20px 25px;
  transition: ease-in-out 400ms;
  cursor: default;
}
.klassy .section-ourMenu .slide-menu .produce .content-produce h1 {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}
.klassy .section-ourMenu .slide-menu .produce .content-produce p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: white;
  margin-bottom: 25px;
}
.klassy .section-ourMenu .slide-menu .produce .content-produce a {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}
.klassy .ourChefs {
  margin: 100px 0;
  text-align: center;
}
.klassy .ourChefs .title-ourChefs .line-textTitle {
  display: inline-flex;
  flex-wrap: wrap;
}
.klassy .ourChefs .title-ourChefs .line-textTitle span {
  width: 30px;
  border-bottom: 1.5px solid var(--pink-color);
  display: block;
  position: relative;
  top: -10px;
}
.klassy .ourChefs .title-ourChefs .line-textTitle h6 {
  padding-left: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: var(--pink-color);
  display: flex;
}
.klassy .ourChefs .title-ourChefs .bold-title {
  margin-top: 30px;
  margin-bottom: 80px;
  font-size: 3rem;
  font-weight: 900;
}
.klassy .ourChefs .listChefs {
  display: flex;
  width: 100%;
  height: 420px;
  justify-content: center;
}
.klassy .ourChefs .listChefs .box {
  position: relative;
  width: 22%;
  height: fit-content;
  border: 1px solid #495057;
  border-radius: 3px;
  margin: 0 15px;
  cursor: pointer;
}
.klassy .ourChefs .listChefs .box:hover {
  border: 1px solid var(--pink-color);
}
.klassy .ourChefs .listChefs .box:hover .icon {
  opacity: 1;
  visibility: visible;
}
.klassy .ourChefs .listChefs .box:hover h3 {
  color: var(--pink-color);
}
.klassy .ourChefs .listChefs .box img {
  position: relative;
  width: 100%;
  border-radius: 3px;
  padding: 5px;
}
.klassy .ourChefs .listChefs .box .icon {
  position: absolute;
  width: 354px;
  height: 336px;
  background: rgba(33, 37, 41, 0.9);
  border-radius: 3px;
  top: 5px;
  left: 5px;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 300ms;
}
.klassy .ourChefs .listChefs .box .icon a {
  position: relative;
  display: inline-flex;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin: 41% 5px;
  transition: ease-in-out 300ms;
}
.klassy .ourChefs .listChefs .box .icon a:hover {
  background: var(--pink-color);
}
.klassy .ourChefs .listChefs .box .icon a i {
  font-size: 1.4rem;
  margin: auto;
  color: black;
}
.klassy .ourChefs .listChefs .box .infoChefs {
  margin: 24px 0;
}
.klassy .ourChefs .listChefs .box .infoChefs h3 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 2px;
  transition: ease 300ms;
}
.klassy .ourChefs .listChefs .box .infoChefs p {
  font-size: 1.3em;
}
.klassy .contacUs {
  width: 100%;
  height: auto;
  background-image: url("../images/reservation-bg.jpg");
}
.klassy .contacUs .group-contacUs {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
.klassy .contacUs .group-contacUs .content-contactUs {
  width: 35%;
  margin: 0 35px;
}
.klassy .contacUs .group-contacUs .content-contactUs .line-textTitle {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.klassy .contacUs .group-contacUs .content-contactUs .line-textTitle span {
  width: 30px;
  border-bottom: 1.5px solid white;
  display: block;
  position: relative;
  top: -10px;
}
.klassy .contacUs .group-contacUs .content-contactUs .line-textTitle h6 {
  padding-left: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: white;
  display: flex;
}
.klassy .contacUs .group-contacUs .content-contactUs .bold-title {
  margin-top: 25px;
  font-size: 3rem;
  font-weight: 600;
  color: white;
}
.klassy .contacUs .group-contacUs .content-contactUs .white-title {
  margin-top: 30px;
  margin-bottom: 80px;
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  letter-spacing: 1px;
  line-height: 22px;
}
.klassy .contacUs .group-contacUs .content-contactUs .info-contacts {
  display: flex;
  justify-content: space-between;
}
.klassy .contacUs .group-contacUs .content-contactUs .info-contacts .detail-contact {
  width: 255px;
  height: 160px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  position: relative;
}
.klassy .contacUs .group-contacUs .content-contactUs .info-contacts .detail-contact span {
  position: absolute;
  display: inline-flex;
  background-color: var(--pink-color);
  width: 70px;
  height: 70px;
  border-radius: 70px;
  top: -23%;
  left: 36%;
}
.klassy .contacUs .group-contacUs .content-contactUs .info-contacts .detail-contact span i {
  font-size: 2rem;
  margin: auto;
  color: white;
}
.klassy .contacUs .group-contacUs .content-contactUs .info-contacts .detail-contact .address {
  margin-top: 45px;
}
.klassy .contacUs .group-contacUs .content-contactUs .info-contacts .detail-contact .address h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.klassy .contacUs .group-contacUs .content-contactUs .info-contacts .detail-contact .address p {
  margin: 5px 0;
}
.klassy .contacUs .group-contacUs .table-reservation {
  position: relative;
  width: 35%;
  height: 550px;
  background-color: white;
  border-radius: 5px;
  margin: 0 35px;
}
.klassy .contacUs .group-contacUs .table-reservation h3 {
  text-align: center;
  font-size: 2rem;
  margin: 50px 0;
}
.klassy .contacUs .group-contacUs .table-reservation .group-col {
  display: flex;
}
.klassy .contacUs .group-contacUs .table-reservation .group-col .col {
  width: 100%;
  margin: 0 25px;
}
.klassy .contacUs .group-contacUs .table-reservation .group-col .col input, .klassy .contacUs .group-contacUs .table-reservation .group-col .col select {
  width: 100%;
  height: 45px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-left: 20px;
  font-size: 1.4rem;
  font-family: var(--font-family);
}
.klassy .contacUs .group-contacUs .table-reservation .group-col .col input::placeholder, .klassy .contacUs .group-contacUs .table-reservation .group-col .col select::placeholder {
  color: #2a2a2a;
}
.klassy .contacUs .group-contacUs .table-reservation .group-col .col input:focus, .klassy .contacUs .group-contacUs .table-reservation .group-col .col select:focus {
  border: 1px solid var(--pink-color);
}
.klassy .contacUs .group-contacUs .table-reservation .message {
  margin: 0 25px;
  margin-bottom: 15px;
}
.klassy .contacUs .group-contacUs .table-reservation .message .text-space {
  width: 100%;
  height: 150px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-family: var(--font-family);
  padding: 20px;
}
.klassy .contacUs .group-contacUs .table-reservation .message .text-space::placeholder {
  color: var(--black-color);
  --font-family: "Poppins", sans-serif;
}
.klassy .contacUs .group-contacUs .table-reservation .message .text-space:focus {
  border: 1px solid var(--pink-color);
}
.klassy .contacUs .group-contacUs .table-reservation .reservation-btn {
  width: 91%;
  height: 40px;
  background-color: var(--pink-color);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.klassy .klassy-week {
  margin-top: 100px;
}
.klassy .klassy-week .title-klassyweek {
  text-align: center;
}
.klassy .klassy-week .title-klassyweek .line-textTitle {
  display: inline-flex;
  flex-wrap: wrap;
}
.klassy .klassy-week .title-klassyweek .line-textTitle span {
  width: 30px;
  border-bottom: 1.5px solid var(--pink-color);
  display: block;
  position: relative;
  top: -10px;
}
.klassy .klassy-week .title-klassyweek .line-textTitle h6 {
  padding-left: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: var(--pink-color);
  display: flex;
}
.klassy .klassy-week .title-klassyweek .bold-title {
  margin-top: 25px;
  font-size: 3rem;
  font-weight: 900;
}
.klassy .klassy-week .title-klassyweek .icon-meal {
  display: inline-flex;
  margin: 40px 0;
}
.klassy .klassy-week .title-klassyweek .icon-meal .col-meal {
  width: min-content;
  padding: 0 15px;
}
.klassy .klassy-week .title-klassyweek .icon-meal .col-meal a {
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
}
.klassy .klassy-week .title-klassyweek .icon-meal .col-meal a:hover {
  font-weight: 700;
  color: var(--pink-color);
}
.klassy .klassy-week .title-klassyweek .icon-meal .col-meal a img {
  padding-bottom: 15px;
}
.klassy .klassy-week .group-menu {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.klassy .klassy-week .group-menu .list-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 30px;
}
.klassy .klassy-week .group-menu .list-menu .menu {
  position: relative;
  width: 100%;
  flex: 0 48%;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}
.klassy .klassy-week .group-menu .list-menu .menu img {
  border-radius: 4px;
}
.klassy .klassy-week .group-menu .list-menu .menu .name-menu {
  width: 60%;
  margin: 0 19px;
}
.klassy .klassy-week .group-menu .list-menu .menu .name-menu h3 {
  font-size: 2.1rem;
  font-weight: 600;
  padding-bottom: 15px;
}
.klassy .klassy-week .group-menu .list-menu .menu .name-menu p {
  font-size: 1.4rem;
  color: #2a2a2a;
  line-height: 25px;
}
.klassy .klassy-week .group-menu .list-menu .menu span {
  width: 70px;
  height: 70px;
  font-size: 1.8rem;
  font-family: var(--font-family);
  color: white;
  font-weight: 600;
  cursor: default;
  background-color: var(--pink-color);
  border-radius: 4px;
  line-height: 70px;
  padding: 0 18px;
}
.klassy .footer {
  margin-top: 80px;
}
.klassy .footer .group-footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  background-color: var(--pink-color);
  align-items: center;
}
.klassy .footer .group-footer .icon a {
  display: inline-flex;
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 60px;
  margin: 0 5px;
}
.klassy .footer .group-footer .icon a:hover i {
  color: #000000;
}
.klassy .footer .group-footer .icon a i {
  font-size: 1.8rem;
  margin: auto;
  color: var(--pink-color);
  transition: ease-in-out 300ms;
}
.klassy .footer .group-footer .copyright p {
  font-size: 1.4rem;
  line-height: 22px;
  color: white;
  text-align: end;
}

@media (max-width: 575.98px) {
  .klassy {
    width: 100%;
  }
  .klassy .header {
    width: 100%;
    display: block;
    position: absolute;
  }
  .klassy .header .logo-header {
    width: 86%;
    align-self: center;
    margin-left: 50px;
  }
  .klassy .header .logo-header .hidden-btn {
    display: block;
    align-self: center;
    position: absolute;
    right: 40px;
  }
  .klassy .header .logo-header .hidden-btn.active :first-child {
    transform: rotate(45deg) translate(8px, 7px);
    width: 35px;
    height: 0.2rem;
    transition: ease-in-out 300ms;
  }
  .klassy .header .logo-header .hidden-btn.active :nth-child(2) {
    opacity: 0;
    transition: ease-in-out 100ms;
  }
  .klassy .header .logo-header .hidden-btn.active :last-child {
    transform: rotate(-45deg) translate(8px, -7px);
    width: 35px;
    height: 0.2rem;
    transition: ease-in-out 300ms;
  }
  .klassy .header .nav-header {
    padding: 0;
    margin: 0 15px;
    position: relative;
    top: -2px;
    display: none;
    animation: fadeInDown;
    animation-duration: 200ms;
  }
  .klassy .header .nav-header.show {
    display: block;
  }
  .klassy .header .nav-header .nav {
    text-align: center;
    display: block;
  }
  .klassy .header .nav-header .nav .main-nav {
    padding: 18px 0;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
  }
  .klassy .header .nav-header .nav .main-nav .main {
    font-size: 1.4rem;
  }
  .klassy .section-banner {
    width: 100%;
  }
  .klassy .section-banner .banner .bestExperience {
    width: 100%;
    height: 210px;
    float: none;
  }
  .klassy .section-banner .banner .bestExperience .content {
    padding: 20px 0;
  }
  .klassy .section-banner .banner .slide .owl-carousel .owl-nav {
    width: 100%;
    right: 0;
    top: 50%;
  }
  .klassy .section-banner .banner .slide .owl-carousel img {
    width: auto;
  }
  .klassy .section-aboutUs {
    width: 100%;
    display: block;
    justify-content: center;
    margin-bottom: 50px;
  }
  .klassy .section-aboutUs .aboutUs {
    margin: 0;
    width: 100%;
    padding: 0 15px;
  }
  .klassy .section-aboutUs .aboutUs .bold-title {
    line-height: 38px;
  }
  .klassy .section-aboutUs .aboutUs p {
    line-height: 25px;
  }
  .klassy .section-aboutUs .aboutUs .pic-food img {
    width: 29%;
    height: auto;
  }
  .klassy .section-aboutUs .video {
    width: 100%;
    margin: 0;
    background-size: 90%;
    background-position: center;
  }
  .klassy .section-ourMenu {
    width: 100%;
  }
  .klassy .section-ourMenu .title-ourMenu {
    margin: 0;
    padding: 30px 10px;
  }
  .klassy .section-ourMenu .slide-menu .owl-nav {
    text-align: center;
  }
  .klassy .section-ourMenu .slide-menu .produce {
    margin: 0 10px;
  }
  .klassy .section-ourMenu .slide-menu .produce img {
    height: 370px;
  }
  .klassy .section-ourMenu .slide-menu .produce .content-produce {
    bottom: -125px;
  }
  .klassy .ourChefs {
    width: 100%;
    height: 1620px;
  }
  .klassy .ourChefs .listChefs {
    display: block;
  }
  .klassy .ourChefs .listChefs .box {
    width: 92%;
    margin: 25px 15px;
  }
  .klassy .ourChefs .listChefs .box .icon {
    height: 317px;
  }
  .klassy .contacUs {
    width: 100%;
    height: auto;
  }
  .klassy .contacUs .group-contacUs {
    display: block;
  }
  .klassy .contacUs .group-contacUs .content-contactUs {
    width: 100%;
    margin: 0;
    padding: 0 17px;
    padding-bottom: 50px;
  }
  .klassy .contacUs .group-contacUs .content-contactUs .bold-title {
    font-weight: 700;
  }
  .klassy .contacUs .group-contacUs .content-contactUs .white-title {
    line-height: 25px;
  }
  .klassy .contacUs .group-contacUs .content-contactUs .info-contacts {
    display: block;
  }
  .klassy .contacUs .group-contacUs .content-contactUs .info-contacts .detail-contact {
    margin: 0 auto;
  }
  .klassy .contacUs .group-contacUs .content-contactUs .info-contacts .detail-contact .address {
    padding-top: 50px;
  }
  .klassy .contacUs .group-contacUs .table-reservation {
    width: 100%;
    height: 765px;
    margin: 0;
  }
  .klassy .contacUs .group-contacUs .table-reservation h3 {
    font-size: 3rem;
    padding-top: 40px;
    padding-bottom: 30px;
    margin: 0;
  }
  .klassy .contacUs .group-contacUs .table-reservation .group-col {
    display: block;
  }
  .klassy .contacUs .group-contacUs .table-reservation .group-col .col {
    margin: 10px 0;
  }
  .klassy .contacUs .group-contacUs .table-reservation .group-col .col input, .klassy .contacUs .group-contacUs .table-reservation .group-col .col select {
    width: 80%;
    margin: 10px 37px;
    background-color: white;
  }
  .klassy .contacUs .group-contacUs .table-reservation .message .text-space {
    width: 92%;
    margin: 0 12px;
  }
  .klassy .contacUs .group-contacUs .table-reservation .reservation-btn {
    width: 80%;
  }
  .klassy .klassy-week {
    margin-top: 100px;
  }
  .klassy .klassy-week .title-klassyweek {
    text-align: center;
  }
  .klassy .klassy-week .title-klassyweek .line-textTitle {
    display: inline-flex;
    flex-wrap: wrap;
  }
  .klassy .klassy-week .title-klassyweek .line-textTitle span {
    width: 30px;
    border-bottom: 1.5px solid var(--pink-color);
    display: block;
    position: relative;
    top: -10px;
  }
  .klassy .klassy-week .title-klassyweek .line-textTitle h6 {
    padding-left: 12px;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: var(--pink-color);
    display: flex;
  }
  .klassy .klassy-week .title-klassyweek .bold-title {
    margin-top: 25px;
    font-size: 3rem;
    font-weight: 900;
  }
  .klassy .klassy-week .title-klassyweek .icon-meal {
    display: inline-flex;
    margin: 40px 0;
  }
  .klassy .klassy-week .title-klassyweek .icon-meal .col-meal {
    width: min-content;
    padding: 0 15px;
  }
  .klassy .klassy-week .title-klassyweek .icon-meal .col-meal a {
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
  }
  .klassy .klassy-week .title-klassyweek .icon-meal .col-meal a:hover {
    font-weight: 700;
    color: var(--pink-color);
  }
  .klassy .klassy-week .title-klassyweek .icon-meal .col-meal a img {
    padding-bottom: 15px;
  }
  .klassy .klassy-week .group-menu {
    width: 100%;
  }
  .klassy .klassy-week .group-menu .list-menu {
    margin: 0 15px;
  }
  .klassy .klassy-week .group-menu .list-menu .menu {
    width: 100%;
    display: block;
    flex: none;
  }
  .klassy .klassy-week .group-menu .list-menu .menu img {
    float: left;
    padding-right: 20px;
  }
  .klassy .klassy-week .group-menu .list-menu .menu .name-menu {
    margin: 0;
    width: 80%;
    padding-top: 5px;
  }
  .klassy .klassy-week .group-menu .list-menu .menu .name-menu h3 {
    padding-bottom: 5px;
  }
  .klassy .klassy-week .group-menu .list-menu .menu .name-menu p {
    line-height: 27px;
  }
  .klassy .klassy-week .group-menu .list-menu .menu span {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
  }
  .klassy .footer {
    width: 100%;
  }
  .klassy .footer .group-footer {
    width: 100%;
    height: 320px;
    display: block;
    text-align: center;
    padding: 55px 0;
  }
  .klassy .footer .group-footer .logo {
    padding: 32px 0;
  }
  .klassy .footer .group-footer .copyright p {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
